node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.git
.gitignore
.vscode
.idea
.DS_Store

.env
.env.*
!.env.example

coverage
.vite
dist

Dockerfile
.dockerignore

temp
